.step {
  position: relative;
  width: 900px;
  padding: 40px;
  margin: 20px auto;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  font-family: "PT Serif", georgia, serif;
  line-height: 1.5;
}

/*
    ... and we enhance the styles for impress.js.
    Basically we remove the margin and make inactive steps a little bit transparent.
*/
.impress-enabled .step.full-width {
  width: auto;
}

.impress-enabled .step {
  margin: 0;
  opacity: 0;

  -webkit-transition: opacity 1s linear, text-decoration 1s linear;
  -moz-transition: opacity 1s linear, text-decoration 1s linear;
  -ms-transition: opacity 1s linear, text-decoration 1s linear;
  -o-transition: opacity 1s linear, text-decoration 1s linear;
  transition: opacity 1s linear, text-decoration 1s linear;
}

.impress-enabled .step.active {
  opacity: 1;
}

.impress-enabled .step.active .striked {
  text-decoration: line-through;
}

.impress-enabled .step.past {
  opacity: 0.1;
}

.impress-enabled .step.past.visible-past {
  opacity: 0.8;
}

.impress-enabled .step.past.hidden-past {
  opacity: 0;
}

.substep {
  opacity: 0;
}

.substep.substep-visible {
  opacity: 1;
  transition: opacity 1s;
}

/*

 */
